.slider-section{	
	position: relative;	
	background-color: $accent-color;
}

.slider-progress{
	position: absolute;
	top: 0;
	@include size(0px, 3px);
	background-color: $accent-color;
	z-index: 1;
}

.slider{
	/* Adjusting Flickity plugin default arrow controls and pager */
	.flickity-prev-next-button{
		@extend %slider-btn;
		@include size(42px, 42px);		

		&.previous{
			left: 0;
			border-radius: 0 3px 3px 0;
		}
		
		&.next{
			right: 0;
			border-radius: 3px 0 0 3px;
		}

		& .arrow{			
			fill: #ffffff;
		}
	}

	.flickity-page-dots{
		position: absolute;	
		display: block;
		bottom: 35px;

		& .dot{	
			@include size(10px, 10px);	
			background-color: #ffffff;	
			opacity: 1;	
			margin: 3px;			

			&:hover{
				background-color: $accent-color;
			}
		}

		& .dot.is-selected{
			background-color: $accent-color;
		}
	}
}

.slide{
	position: relative;
	@include size(100%, 100vh);
	max-height: 795px;
	min-height: 450px;
	text-transform: uppercase;

	&_1{ 
		@include background('slide-bg-1-mobile.jpg');
		@include break(tablet-l){ @include background('slide-bg-1.jpg'); }
	}

	&_2{ 
		@include background('slide-bg-2-mobile.jpg');
		@include break(tablet-l){ @include background('slide-bg-2.jpg'); }
	}

	&_3{ 
		@include background('slide-bg-3-mobile.jpg');
		@include break(tablet-l){ @include background('slide-bg-3.jpg'); }
	}

	&_4{ 
		@include background('slide-bg-4-mobile.jpg');
		@include break(tablet-l){ @include background('slide-bg-4.jpg'); }
	}

	&_5{ 
		@include background('slide-bg-5-mobile.jpg');
		@include break(tablet-l){ @include background('slide-bg-5.jpg'); }
	}

	&__title{
		@include font(38px, bold, #ffffff, $font-eb);

		@include break(tablet-l){ 
			font-size: 68px;
			line-height: 60%; 
		}	

		@include break(laptop-l){ font-size: 80px; }	

		&_small{
			font-size: 32px;
			@include break(tablet-l){ font-size: 37px; }
			@include break(laptop-l){ font-size: 43px; }
		}	

		&_highlighted{
			@include font(32px, bold, $accent-color, $font-eb);
			@include break(tablet-l){ font-size: 37px; }
			@include break(laptop-l){ font-size: 43px; }
		}	
	}

	&__subtitle{
		@include font(12px, bold, #555555, $font-eb);	
		line-height: 140%;
		margin: 10px 0 32px;
		@include break(tablet-l){ font-size: 16px; }
		@include break(laptop-l){ font-size: 18px; }			
	}

	&__btn{
		@extend %btn;
		font-size: 12px;
		width: 170px;	
		margin-bottom: 15px;				
		transition: border-color .3s ease, background-color .3s ease;
		@include break(tablet-l){ font-size: 14px; }

		&_buy{			
			background-color: $accent-color;
			border: 2px solid $accent-color;
			margin-right: 25px;	
			@include hover{
				border-color: #ffffff;
				background-color: transparent;
				transition: border-color .3s ease, background-color .3s ease;
			}
		}

		&_preview{			
			border: 2px solid #ffffff;
			@include hover{
				border-color: $accent-color;
				background-color: $accent-color;
				transition: border-color .3s ease, background-color .3s ease;
			}	
		}
	}
}

.slide-content{
	min-height: 450px;	

	@include break(tablet-s){
		position: absolute;		
		width: 60vw;	
		right: 0;	
		@include flex(row, flex-start);
	}

	@media screen and (max-width: 1099px){ padding: 25% 5% 0 5%; }
	
	@include break(1100px){
		width: 45%;
		right: 10%;
		top: 15%;
	}

	@include break(laptop-m){ width: 40%; }

	@include break(laptop-l){ 
		max-width: 580px;
		right: 18.8%;
		top: 23%; 
	}
}