$text-color: #464646;
$text-color-light: #959595;
$bg-color: #252525;
$bg-color-dark: #202020;
$accent-color: #e5493a;
$accent-color-secondary: #8dc63f;

$font-r: Raleway-Regular, sans-serif; 
$font-l: Raleway-Light, sans-serif; 
$font-m: Raleway-Medium, sans-serif;
$font-b: Raleway-Bold, sans-serif;
$font-sb: Raleway-SemiBold, sans-serif;
$font-eb: Raleway-ExtraBold, sans-serif;
$font-text: Roboto-Regular, sans-serif; 
$font-logo: Axis, sans-serif;

$img-path: '../img';