<section class="about-section">	
	<h3 class="about-title">Some Interesting Stuff About Us</h3>
	<p class="about-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<div class="js-about__animation-trigger"></div>
	
	<div class="about-items js-about-items">

		<!-- Item #1 -->
		<div class="about-item">		
			<div class="about-item__counter js-about-item__counter_client">
				<span class="about-item__number js-about-item__number">1024</span>
			</div>
			<h4 class="about-item__title">Satisfied Clients</h4>
			<p class="about-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
		</div>

		<!-- Item #2 -->
		<div class="about-item">
			<div class="about-item__counter js-about-item__counter_project">
				<span class="about-item__number js-about-item__number">549</span>
			</div>
			<h4 class="about-item__title">Completed Projects</h4>
			<p class="about-item__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
		</div>

		<!-- Item #3 -->
		<div class="about-item">
			<div class="about-item__counter js-about-item__counter_like">
				<span class="about-item__number js-about-item__number">768</span>
			</div>
			<h4 class="about-item__title">Likes on Average</h4>
			<p class="about-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
		</div>
		
		<!-- Item #4 -->
		<div class="about-item">
			<div class="about-item__counter js-about-item__counter_launch">
				<span class="about-item__number js-about-item__number">333</span>
			</div>
			<h4 class="about-item__title">We Launched</h4>
			<p class="about-item__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
		</div>
	</div>		
</section>