<section class="blog-section">
	<div class="blog-grid">

		<!-- Grid small -->
		<div class="blog-grid_small">	
			
			<!-- Item main -->
			<div class="blog-grid__item item_main">
				<h3 class="blog-title">Latest Blog Posts</h3>
				<p class="blog-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum nobis videntur parum.</p>
			</div>

			<!-- Item #1 -->
			<div class="blog-grid__item item_1">
				<img class="blog-grid__img" src="img/blog-img-1.jpg" alt="">
				<span class="blog-grid__theme">
					<svg class="blog-grid__icon">
    					<use xlink:href="svg/svg-sprite.svg#photo-icon"></use>
					</svg>
				</span>	
				<div class="blog-grid__text">
					<a class="blog-grid__title" href="#">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium</a>
					<p class="blog-grid__info">04 February 2015, Posted by <span class="blog-grid__author">John Doe</span>, Comments: <span class="blog-grid__comment">26</span>
					</p>
				</div>	
			</div>
		</div>
		
		<!-- Grid large -->
		<div class="blog-grid_large">

			<!-- Item #2 -->
			<div class="blog-grid__item item_2">
				<img class="blog-grid__img" src="img/blog-img-2.jpg" alt="">
				<span class="blog-grid__theme">
					<svg class="blog-grid__icon">
    					<use xlink:href="svg/svg-sprite.svg#landscape-icon"></use>
					</svg>
				</span>	
				<div class="blog-grid__text">
					<a class="blog-grid__title blog-grid__title_large" href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
					<p class="blog-grid__info">04 February 2015, Posted by <span class="blog-grid__author">Admin</span>, Comments: <span class="blog-grid__comment">26</span>
					</p>
				</div>	
			</div>		

			<!-- Item #3 -->
			<div class="blog-grid__item item_3">
				<img class="blog-grid__img" src="img/blog-img-3.jpg" alt="">
				<span class="blog-grid__theme">
					<svg class="blog-grid__icon">
    					<use xlink:href="svg/svg-sprite.svg#photo-icon"></use>
					</svg>
				</span>	
				<div class="blog-grid__text">
					<a class="blog-grid__title" href="#">Nam liber tempor cum soluta</a>
					<p class="blog-grid__info">04 February 2015, Posted by <span class="blog-grid__author">John Doe</span>, Comments: <span class="blog-grid__comment">26</span>
					</p>
				</div>	
			</div>

			<!-- Item #4 -->
			<div class="blog-grid__item item_4">
				<img class="blog-grid__img" src="img/blog-img-4.jpg" alt="">
				<span class="blog-grid__theme">
					<svg class="blog-grid__icon">
    					<use xlink:href="svg/svg-sprite.svg#movie-icon"></use>
					</svg>
				</span>	
				<div class="blog-grid__text">
					<a class="blog-grid__title" href="#">Duis autem vel eum iriure</a>
					<p class="blog-grid__info">04 February 2015, Posted by <span class="blog-grid__author">Admin</span>, Comments: <span class="blog-grid__comment">26</span>
					</p>
				</div>	
			</div>
			<a class="blog-link" href="#">Read All Posts »</a>
		</div>		
	</div>	
</section>