<section class="choose-section">
	<div class="choose-text">
		<h3 class="choose-title">Why Choose Us</h3>
		<p class="choose-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</div>
	
	<!-- Accordion -->
	<div class="choose-accordions js-choose-accordions">

		<!-- Item #1 -->
		<div class="choose-accordion js-choose-accordion">
			<div class="choose-accordion__header js-choose-accordion__header">
				<h4 class="choose-accordion__title">Our Solution</h4>
				<p class="choose-accordion__subtitle">Consectetuer adipiscing sed diam nonummy</p>
				<a class="choose-accordion__arrow js-choose-accordion__arrow">
					<svg class="choose-accordion__icon">
    					<use xlink:href="svg/svg-sprite.svg#arrow-icon"></use>
					</svg>
				</a>							
			</div>
			<div class="choose-accordion__content js-choose-accordion__content">
				<p class="choose-accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, temporibus quas qui voluptatum! Quod ut quibusdam deserunt labore. Accusamus incidunt non accusantium eveniet, soluta provident. Odio autem, quibusdam nesciunt ad.</p>
				<p class="choose-accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae culpa repellat iste, earum ullam delectus! At eveniet dicta quis quae, ex voluptates doloribus atque debitis tenetur corporis dolorum perspiciatis repudiandae cumque facilis nobis. Iure molestiae, magni aut dolores sint omnis placeat repellat nobis asperiores incidunt accusantium aliquid quo eveniet officia.</p>
			</div>					
		</div>

		<!-- Item #2 -->
		<div class="choose-accordion js-choose-accordion">
			<div class="choose-accordion__header js-choose-accordion__header">
				<h4 class="choose-accordion__title">Our Mission</h4>
				<p class="choose-accordion__subtitle">Eodem modo typi qui nunc nobis</p>
				<a class="choose-accordion__arrow js-choose-accordion__arrow">
					<svg class="choose-accordion__icon">
    					<use xlink:href="svg/svg-sprite.svg#arrow-icon"></use>
					</svg>
				</a>						
			</div>
			<div class="choose-accordion__content js-choose-accordion__content">
				<p class="choose-accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nihil enim omnis eos mollitia alias provident modi necessitatibus debitis, ex nulla obcaecati ipsum vitae aliquam molestias, delectus eligendi corrupti soluta deserunt, beatae aspernatur laudantium natus qui sit laborum. Modi, eaque.</p>
				<p class="choose-accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla repellendus nesciunt. Esse nisi, doloribus distinctio, enim nostrum quas cum.</p>		
			</div>			
		</div>		

		<!-- Item #3 -->
		<div class="choose-accordion js-choose-accordion">
			<div class="choose-accordion__header js-choose-accordion__header">
				<h4 class="choose-accordion__title">Our Technology</h4>
				<p class="choose-accordion__subtitle">Duis autem vel iriure dolor in hendrerit</p>
				<a class="choose-accordion__arrow js-choose-accordion__arrow">
					<svg class="choose-accordion__icon">
    					<use xlink:href="svg/svg-sprite.svg#arrow-icon"></use>
					</svg>
				</a>						
			</div>
			<div class="choose-accordion__content js-choose-accordion__content">
				<p class="choose-accordion__text">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in  nam liber tempor cum soluta nobis eleifend option.</p>
				<p class="choose-accordion__text">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			</div>					
		</div>	

		<!-- Item #4 -->
		<div class="choose-accordion js-choose-accordion">
			<div class="choose-accordion__header js-choose-accordion__header">
				<h4 class="choose-accordion__title">Our Specification</h4>
				<p class="choose-accordion__subtitle">Adipiscing sed diam nonummy</p>
				<a class="choose-accordion__arrow js-choose-accordion__arrow">
					<svg class="choose-accordion__icon">
    					<use xlink:href="svg/svg-sprite.svg#arrow-icon"></use>
					</svg>
				</a>							
			</div>
			<div class="choose-accordion__content js-choose-accordion__content">
				<p class="choose-accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, eum amet sed architecto, unde minus at, dignissimos illum velit qui labore tempora nesciunt sapiente soluta quos. Repellendus, mollitia.</p>
				<p class="choose-accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga, labore eum quasi culpa, nostrum asperiores aut porro nobis earum. Quo suscipit dicta nobis mollitia voluptas, ad et dolorem. Necessitatibus libero et nisi aspernatur. Tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, quam.</p>				
			</div>
		</div>	
	</div>

	<!-- Slider -->	
	<div class="choose-slider js-choose-slider">		

		<!-- Slide #1 -->
		<div class="choose-slide">

			<!-- Slide #1, Post 1/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-3.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quas blanditiis vitae numquam perferendis voluptates repellat voluptas nihil tenetur asperiores?</p>
				</div>	
			</div>

			<!-- Slide #1, Post 2/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-4.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eveniet, eius vel nobis fuga porro sequi eaque at aut incidunt praesentium voluptate suscipit nemo a adipisci esse. Omnis, cupiditate, tempora.</p>
				</div>	
			</div>				
		</div>

		<!-- Slide #2 -->
		<div class="choose-slide">

			<!-- Slide #2, Post 1/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-1.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Jonathan Smith</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</p>
				</div>	
			</div>

			<!-- Slide #2, Post 2/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-2.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Britney Doe</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</p>
				</div>	
			</div>				
		</div>

		<!-- Slide #3 -->
		<div class="choose-slide">

			<!-- Slide #3, Post 1/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-5.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, id aut illo! Voluptates impedit delectus reiciendis facilis, repellat cupiditate praesentium dolore rem velit accusamus, omnis quam perspiciatis.</p>
				</div>	
			</div>

			<!-- Slide #3, Post 2/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-6.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iste cupiditate vitae illo, doloremque quasi.</p>
				</div>	
			</div>				
		</div>	

		<!-- Slide #4 -->
		<div class="choose-slide">

			<!-- Slide #4, Post 1/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-7.png" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero labore mollitia non nostrum, obcaecati voluptatibus, iusto nisi necessitatibus quis possimus est expedita assumenda.</p>
				</div>	
			</div>

			<!-- Slide #4, Post 2/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-8.png" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eligendi in, corporis architecto rem ratione laboriosam beatae esse deserunt deleniti incidunt reprehenderit ab magnam fugit amet porro obcaecati repudiandae?</p>
				</div>	
			</div>				
		</div>

		<!-- Slide #5 -->
		<div class="choose-slide">

			<!-- Slide #5, Post 1/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-9.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptatum assumenda tenetur ipsam repellat, impedit saepe sunt non ratione velit vel maxime ab similique suscipit molestiae consectetur obcaecati asperiores placeat omnis, at.</p>
				</div>	
			</div>

			<!-- Slide #5, Post 2/2 -->
			<div class="choose-post">
				<img class="choose-post__img" src="img/choose-img-10.jpg" alt="">
				<div class="choose-post__text">
					<h5 class="choose-post__title">Lorem ipsum</h5>
					<a class="choose-post__link" href="http://www.themeforest.net">www.themeforest.net</a>
					<p class="choose-post__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quia porro, asperiores enim, aliquid nobis recusandae earum a doloribus, minus nulla, est eaque fugiat numquam.</p>
				</div>	
			</div>				
		</div>											
	</div>	
</section>