<section class="design-section">		
	<div class="design-content">
		<h3 class="design-title">Fully Responsive Design Ready</h3>
		<p class="design-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.</p>
		<ul class="design-list">
			<li class="design-list__item">Claritas est etiam processus dynamicus.</li>
			<li class="design-list__item">Mirum est notare quam littera gothica, quam.</li>
			<li class="design-list__item">Nam liber tempor cum soluta.</li>
			<li class="design-list__item">Duis autem vel eum iriure dolor in hendrerit.</li>
			<li class="design-list__item">Typi non habent claritatem insitam.</li>
		</ul>
		<a class="design-btn" href="#">Buy this now</a>
	</div>
	<div class="design-screens">
		<img class="design-screens__img" src="img/design-screens.png" alt="">
	</div>	
</section>