<footer class="footer">

	<!-- About us block -->
	<div class="footer-about">		
		<h4 class="footer-about__title">About Us</h4>
		<p class="footer-about__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.</p>
		<a class="footer-about__link" href="#">Read More »</a>
		<p class="footer-about__email">Email Newsletters:</p>
		<form class="footer-about__email-form">
			<input class="footer-about__input" type="email" placeholder="Email Address" required="">
			<button class="footer-about__submit-btn" type="submit">
				<svg class="footer-about__icon">
    				<use xlink:href="svg/svg-sprite.svg#envelope-icon"></use>
				</svg>
			</button>
		</form>
		<a class="footer-about__policy" href="#">Privacy Policy</a>
	</div>

	<!-- Latest news block -->
	<div class="footer-news">					
		<h4 class="footer-news__title">Latest News</h4>

		<!-- Item #1 -->
		<div class="footer-news__item">
			<div class="footer-news__date">
				<span class="footer-news__date-day">04</span>
				<span class="footer-news__date-month">Feb</span>
			</div>
			<div class="footer-news__text">
				<a class="footer-news__link" href="#">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium</a>
				<a class="footer-news__comments" href="#"><span class="footer-news__comment">26</span> Comments</a>
			</div>	
		</div>

		<!-- Item #2 -->
		<div class="footer-news__item">
			<div class="footer-news__date">
				<span class="footer-news__date-day">28</span>
				<span class="footer-news__date-month">Jan</span>
			</div>
			<div class="footer-news__text">
				<a class="footer-news__link" href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</a>
				<a class="footer-news__comments" href="#">No Comments</a>
			</div>	
		</div>
		
		<!-- Item #3 -->
		<div class="footer-news__item">
			<div class="footer-news__date">
				<span class="footer-news__date-day">03</span>
				<span class="footer-news__date-month">Jan</span>
			</div>
			<div class="footer-news__text">
				<a class="footer-news__link" href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis</a>
				<a class="footer-news__comments" href="#"><span class="footer-news__comment">3</span> Comments</a>
			</div>	
		</div>		
	</div>

	<!-- Get in touch block -->
	<div class="footer-contact">
		<h4 class="footer-contact__title">Get In Touch</h4>

		<!-- Item #1 -->
		<div class="footer-contact__item">
			<p class="footer-contact__name address">Address:</p>
			<p class="footer-contact__text address">795 South Park Avenue, Door 6 Wonderland, CA 94107, Australia</p>
		</div>
			
		<!-- Item #2 -->
		<div class="footer-contact__item">
			<p class="footer-contact__name">Phone:</p>
			<p class="footer-contact__text">
				<a class="footer-contact__link" href="tel:+440 875369208">+440 875369208</a>
				<span class="footer-contact__subname">- Office</span>
				<br>			
				<a class="footer-contact__link" href="tel:+440 353363114">+440 353363114</a>
				<span class="footer-contact__subname">- Fax</span>
			</p>				
		</div>
			
		<!-- Item #3 -->
		<div class="footer-contact__item">
			<p class="footer-contact__name">Email:</p>
			<p class="footer-contact__text">
				<a class="footer-contact__link" href="mailto:support@sitename.com?Subject=Need%20help">support@sitename.com</a>
				<br>
				<a class="footer-contact__link" href="mailto:info@sitename.com?Subject=Need%20indo">info@sitename.com</a>
			</p>
		</div>
			
		<!-- Item #4 -->
		<div class="footer-contact__item">
			<p class="footer-contact__name">Follow Us:</p>
			<ul class="footer-contact__icons">
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
						</svg>
					</a>
				</li> 
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
						</svg>
					</a>
				</li> 
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#tumblr-icon"></use>
						</svg>
					</a>
				</li> 
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
						</svg>
					</a>
				</li> 
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#google-icon"></use>
						</svg>
					</a>
				</li> 
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#vimeo-icon"></use>
						</svg>
					</a>
				</li> 
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#pinterest-icon"></use>
						</svg>
					</a>
				</li> 				
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#flickr-icon"></use>
						</svg>
					</a>
				</li>				
				<li>
					<a class="footer-contact__link" href="#">
						<svg class="footer-contact__icon">
    						<use xlink:href="svg/svg-sprite.svg#rss-icon"></use>
						</svg>
					</a>
				</li> 
			</ul>		
		</div>
	</div>

	<!-- Footer bottom line -->
	<div class="footer-bottom">
		<p class="footer-bottom__copyright">© 2015 èxe, Design by <a class="footer-bottom__copyright-link" href="#">ThemeFire</a>   /   Only for <a class="footer-bottom__copyright-link" href="#">Envato Market</a>
		</p>
		<nav class="footer-nav">
			<a class="footer-nav__item" href="#">Home</a>
			<a class="footer-nav__item" href="#">About Us</a>
			<a class="footer-nav__item" href="#">Pages</a>
			<a class="footer-nav__item" href="#">Features</a>
			<a class="footer-nav__item" href="#">Portfolio</a>
			<a class="footer-nav__item" href="#">Blog</a>
			<a class="footer-nav__item" href="#">Shop</a>
			<a class="footer-nav__item" href="#">Contact Us</a>
		</nav>
	</div>
</footer>