<section class="portfolio-section">
	<h3 class="portfolio-title">Our Portfolio</h3>
	<p class="portfolio-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

 	<div class="portfolio-nav js-portfolio-nav">
 		<h4 class="portfolio-nav__title">Sort Portfolios:</h4>
 		<nav class="portfolio-nav__btn-group">
			<button class="portfolio-nav__btn portfolio-nav__btn_active" type="button" data-filter="*">All</button>
			<button class="portfolio-nav__btn" type="button" data-filter=".portfolio-websites">Websites</button>
			<button class="portfolio-nav__btn" type="button" data-filter=".portfolio-logo">Logo</button>
			<button class="portfolio-nav__btn" type="button" data-filter=".portfolio-design">Graphic Design</button>
			<button class="portfolio-nav__btn" type="button" data-filter=".portfolio-development">Development</button>
			<button class="portfolio-nav__btn" type="button" data-filter=".portfolio-video">Video</button>
			<button class="portfolio-nav__btn" type="button" data-filter=".portfolio-photography">Photography</button>	
		</nav>	
	</div>

	<div class="portfolio-grid js-portfolio-grid">
	
		<!-- Item #1 -->
		<div class="portfolio-grid__item portfolio-design portfolio-photography">
			<img class="portfolio-grid__img" src="img/portfolio-img-1.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>		
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-1-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #2 -->
		<div class="portfolio-grid__item portfolio-logo">
			<img class="portfolio-grid__img" src="img/portfolio-img-2.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-2-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #3 -->
		<div class="portfolio-grid__item portfolio-logo">
			<img class="portfolio-grid__img" src="img/portfolio-img-3.jpg" alt="">
			<h5 class="portfolio-grid__title">Claritas Est Processus
				<small class="portfolio-grid__subtitle">Graphic Designer, Photoshop</small>
			</h5>			
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-3-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #4 -->
		<div class="portfolio-grid__item portfolio-websites portfolio-logo">
			<img class="portfolio-grid__img" src="img/portfolio-img-4.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit amet, consectetur</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-4-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #5 -->
		<div class="portfolio-grid__item portfolio-websites portfolio-photography portfolio-video">
			<img class="portfolio-grid__img" src="img/portfolio-img-5.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-5-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #6 -->
		<div class="portfolio-grid__item portfolio-logo portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-6.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-6-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #7 -->
		<div class="portfolio-grid__item portfolio-websites portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-7.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-7-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #8 -->
		<div class="portfolio-grid__item portfolio-photography portfolio-video">
			<img class="portfolio-grid__img" src="img/portfolio-img-8.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-8-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #9 -->
		<div class="portfolio-grid__item portfolio-design portfolio-websites">
			<img class="portfolio-grid__img" src="img/portfolio-img-9.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet, consectetur
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-9-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #10 -->
		<div class="portfolio-grid__item portfolio-design portfolio-photography">
			<img class="portfolio-grid__img" src="img/portfolio-img-10.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsumdolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-10-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #11 -->
		<div class="portfolio-grid__item portfolio-websites portfolio-development portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-11.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-11-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #12 -->
		<div class="portfolio-grid__item portfolio-logo portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-12.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit amet</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-12-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #13 -->
		<div class="portfolio-grid__item portfolio-logo">
			<img class="portfolio-grid__img" src="img/portfolio-img-13.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet, consectetur
				<small class="portfolio-grid__subtitle">Lorem ipsumdolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-13-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #14 -->
		<div class="portfolio-grid__item portfolio-websites portfolio-development portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-14.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit amet</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-14-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #15 -->
		<div class="portfolio-grid__item portfolio-logo">
			<img class="portfolio-grid__img" src="img/portfolio-img-15.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsumdolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-15-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #16 -->
		<div class="portfolio-grid__item portfolio-logo portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-16.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet, consectetur
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-16-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #17 -->
		<div class="portfolio-grid__item portfolio-websites portfolio-logo portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-17.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsum dolor sit amet, consectetur</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-17-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #18 -->
		<div class="portfolio-grid__item portfolio-design portfolio-photography">
			<img class="portfolio-grid__img" src="img/portfolio-img-18.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsumdolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-18-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>	

		<!-- Item #19 -->
		<div class="portfolio-grid__item portfolio-logo">
			<img class="portfolio-grid__img" src="img/portfolio-img-19.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor sit amet
				<small class="portfolio-grid__subtitle">Lorem ipsum</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-19-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #20 -->
		<div class="portfolio-grid__item portfolio-design">
			<img class="portfolio-grid__img" src="img/portfolio-img-20.jpg" alt="">
			<h5 class="portfolio-grid__title">Lorem ipsum dolor
				<small class="portfolio-grid__subtitle">Lorem ipsumdolor sit</small>
			</h5>
			<a class="portfolio-grid__zoom" data-fancybox data-toolbar="false" href="../img/portfolio-img-20-full.jpg">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="portfolio-grid__link" href="#">
				<svg class="portfolio-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>																							
	</div>		
</section>