<section class="project-section">
	
	<!-- Item #1 -->
	<div class="project-item">
		<span class="project-item__logo">
			<svg class="project-item__icon">
    			<use xlink:href="svg/svg-sprite.svg#leaf-icon"></use>
			</svg>
		</span>
		<h4 class="project-item__title">Clean Design</h4>
		<p class="project-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
	</div>

	<!-- Item #2 -->
	<div class="project-item">
		<span class="project-item__logo">
			<svg class="project-item__icon">
    			<use xlink:href="svg/svg-sprite.svg#star-icon"></use>
			</svg>
		</span>
		<h4 class="project-item__title">Branding</h4>
		<p class="project-item__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
	</div>

	<!-- Item #3 -->
	<div class="project-item">
		<span class="project-item__logo">
			<svg class="project-item__icon">
    			<use xlink:href="svg/svg-sprite.svg#smartphone-icon"></use>
			</svg>
		</span>
		<h4 class="project-item__title">Responsive</h4>
		<p class="project-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
	</div>
		
	<!-- Item #4 -->
	<div class="project-item">
		<span class="project-item__logo">
			<svg class="project-item__icon">
    			<use xlink:href="svg/svg-sprite.svg#gear-icon"></use>
			</svg>
		</span>
		<h4 class="project-item__title">Development</h4>
		<p class="project-item__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
	</div>
</section>