<section class="skill-section">
	<div class="skill-text">
		<h3 class="skill-title">Our Skills</h3>
		<p class="skill-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
		<a class="skill-btn" href="#">Our services</a>
	</div>	

	<div class="skill-items">

		<!-- Item #1 -->
		<div class="skill-item">
			<p class="skill-item__name">Photoshop</p>
			<span class="skill-item__line photoshop js-skill-item__line"></span>
			<span class="skill-item__number photoshop js-skill-item__number">95%</span>
		</div>

		<!-- Item #2 -->
		<div class="skill-item">
			<p class="skill-item__name">WordPress</p>
			<span class="skill-item__line wordpress js-skill-item__line"></span>
			<span class="skill-item__number wordpress js-skill-item__number">50%</span>
		</div>

		<!-- Item #3 -->
		<div class="skill-item">
			<p class="skill-item__name">eCommerce</p>
			<span class="skill-item__line ecommerce js-skill-item__line"></span>
			<span class="skill-item__number ecommerce js-skill-item__number">72%</span>
		</div>

		<!-- Item #4 -->
		<div class="skill-item">
			<p class="skill-item__name">Photography</p>
			<span class="skill-item__line photography js-skill-item__line"></span>
			<span class="skill-item__number photography js-skill-item__number">36%</span>
		</div>
	</div>
	<div class="js-skill__animation-trigger"></div>
</section>