<section class="slider-section">	
	<div class="slider-progress js-slider-progress"></div>
	
	<div class="slider js-slider">

		<!-- Slide #1 -->
		<div class="slide slide_1">
			<div class="slide-content">
				<h1 class="slide__title">Smart Moves 
					<br><small class="slide__title_small">of <span class="slide__title_highlighted">Successful</span> Business</small>
				</h1>
				<h2 class="slide__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h2>				
				<a class="slide__btn slide__btn_buy" href="#">Buy this now</a>
				<a class="slide__btn slide__btn_preview" href="#">Live Preview</a>
			</div>	
		</div>

		<!-- Slide #2 -->
		<div class="slide slide_2">
			<div class="slide-content">
				<h1 class="slide__title">Slide #2 
					<br><small class="slide__title_small">of <span class="slide__title_highlighted">Successful</span> Business</small>
				</h1>
				<h2 class="slide__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h2>				
				<a class="slide__btn slide__btn_buy" href="#">Buy this now</a>
				<a class="slide__btn slide__btn_preview" href="#">Live Preview</a>
			</div>	
		</div>

		<!-- Slide #3 -->
		<div class="slide slide_3">
			<div class="slide-content">
				<h1 class="slide__title">Slide #3
					<br><small class="slide__title_small">of <span class="slide__title_highlighted">Successful</span> Business</small>
				</h1>
				<h2 class="slide__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h2>				
				<a class="slide__btn slide__btn_buy" href="#">Buy this now</a>
				<a class="slide__btn slide__btn_preview" href="#">Live Preview</a>
			</div>	
		</div>

		<!-- Slide #4 -->
		<div class="slide slide_4">
			<div class="slide-content">
				<h1 class="slide__title">Slide #4 
					<br><small class="slide__title_small">of <span class="slide__title_highlighted">Successful</span> Business</small>
				</h1>
				<h2 class="slide__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h2>				
				<a class="slide__btn slide__btn_buy" href="#">Buy this now</a>
				<a class="slide__btn slide__btn_preview" href="#">Live Preview</a>
			</div>	
		</div>

		<!-- Slide #5 -->
		<div class="slide slide_5">
			<div class="slide-content">
				<h1 class="slide__title">Slide #5
					<br><small class="slide__title_small">of <span class="slide__title_highlighted">Successful</span> Business</small>
				</h1>
				<h2 class="slide__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h2>				
				<a class="slide__btn slide__btn_buy" href="#">Buy this now</a>
				<a class="slide__btn slide__btn_preview" href="#">Live Preview</a>
			</div>	
		</div>
	</div>
</section>