<section class="theme-section">
	<div class="theme-content">
		<h3 class="theme-title">Many Theme Options</h3>
		<p class="theme-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

		<div class="theme-items">
		
			<!-- Item #1 -->
			<div class="theme-item">
				<span class="theme-item__logo">
					<svg class="theme-item__icon">
    					<use xlink:href="svg/svg-sprite.svg#leaf-icon"></use>
					</svg>
				</span>
				<h4 class="theme-item__title">Clean Design</h4>
				<p class="theme-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing diam.</p>
			</div>

			<!-- Item #2 -->
			<div class="theme-item">
				<span class="theme-item__logo">
					<svg class="theme-item__icon">
    				<use xlink:href="svg/svg-sprite.svg#bag-icon"></use>
					</svg>
				</span>
				<h4 class="theme-item__title">Multipurpose</h4>
				<p class="theme-item__text">Duis autem vel eum iriure dolor in hendrerit in vulputate esse.</p>
			</div>	

			<!-- Item #3 -->
			<div class="theme-item">
				<span class="theme-item__logo">
					<svg class="theme-item__icon">
    					<use xlink:href="svg/svg-sprite.svg#smartphone-icon"></use>
					</svg>
				</span>
				<h4 class="theme-item__title">Ultra Responsive</h4>
				<p class="theme-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing diam.</p>
			</div>

			<!-- Item #4 -->
			<div class="theme-item">
				<span class="theme-item__logo">
					<svg class="theme-item__icon">
    					<use xlink:href="svg/svg-sprite.svg#chat-icon"></use>
					</svg>
				</span>
				<h4 class="theme-item__title">Online Support</h4>
				<p class="theme-item__text">Duis autem vel eum iriure dolor in hendrerit in vulputate esse.</p>
			</div>
		</div>
	</div>
	
	<div class="theme-screens">
		<img class="theme-screens__img" src="img/theme-screens.png" alt="">
	</div>	
</section>