<section class="work-section">
	<div class="work-grid">

		<!-- Item main -->
		<div class="work-grid__item item_main">
			<h3 class="work-title">See Our Recent Work</h3>
			<p class="work-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.</p>
		</div>

		<!-- Item #1 -->
		<div class="work-grid__item item_1">		
			<img class="work-grid__img" src="img/work-img-1.jpg" alt="">
			<h5 class="work-grid__title">Lorem ipsum dolor
				<small class="work-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>		
			<a class="work-grid__zoom" data-fancybox data-toolbar="false" href="img/work-img-1-full.jpg">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="work-grid__link" href="#">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #2 -->
		<div class="work-grid__item item_2">		
			<img class="work-grid__img" src="img/work-img-2.jpg" alt="">
			<h5 class="work-grid__title">Lorem ipsum dolor
				<small class="work-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>		
			<a class="work-grid__zoom" data-fancybox data-toolbar="false" href="img/work-img-2-full.jpg">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="work-grid__link" href="#">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #3 -->
		<div class="work-grid__item item_3">
			<img class="work-grid__img" src="img/work-img-3.jpg" alt="">
			<h5 class="work-grid__title">Lorem ipsum dolor
				<small class="work-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>		
			<a class="work-grid__zoom" data-fancybox data-toolbar="false" href="img/work-img-3-full.jpg">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="work-grid__link" href="#">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #4 -->
		<div class="work-grid__item item_4">
			<img class="work-grid__img" src="img/work-img-4.jpg" alt="">
			<h5 class="work-grid__title">Lorem ipsum dolor
				<small class="work-grid__subtitle">Lorem ipsum dolor sit</small>
			</h5>		
			<a class="work-grid__zoom" data-fancybox data-toolbar="false" href="img/work-img-4-full.jpg">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="work-grid__link" href="#">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>

		<!-- Item #5 -->
		<div class="work-grid__item item_5">
			<img class="work-grid__img" src="img/work-img-5.jpg" alt="">
			<h5 class="work-grid__title">Claritas Est Processus
				<small class="work-grid__subtitle">Graphic Designer, Photoshop</small>
			</h5>		
			<a class="work-grid__zoom" data-fancybox data-toolbar="false" href="img/work-img-5-full.jpg">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#enlarge-icon"></use>
				</svg>
			</a>
			<a class="work-grid__link" href="#">
				<svg class="work-grid__icon">
    				<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
				</svg>
			</a>
		</div>
		<a class="work-link" href="#">View All Portfolio »</a>
	</div>
</section>